.text{
    width: 269px;
    height: 33px;
}
.cv{
  height: 39px;
  width: 114px;
   }
   .s_text{
    width: 269px;
    height: 33px;
   }
   .ss{
    height: 39px;
    width: 114px;
   }
   .xz{
    width: 269px;
    height: 33px;
   }
   .am{
    height: 39px;
    width: 114px;
   }
  .ws{
    width: 269px;
    height: 33px;
  }
  .mn{
    height: 39px;
    width: 114px;
  }
  .lm{
    width: 269px;
    height: 33px;
  }
  .ol{
    height: 39px;
    width: 114px;
  }
  .xm{
    width: 269px;
    height: 33px;
  }
  .aq{
    height: 39px;
    width: 114px;
  }
  .re{
    width: 269px;
    height: 33px;
  }
  .ss{
    height: 39px;
    width: 114px;
  }
  .hj{
    width: 269px;
    height: 47px;
  }
  .oi{
    height: 39px;
    width: 114px;
  }
  .rt{
    height: 39px;
    width: 114px;
  }
  .fd{
    width: 269px;
    height: 33px; 
  }
  .jk{
    height: 39px;
    width: 114px;
  }
  .ui{
    height: 39px;
    width: 114px;
  }
  